                /******************** ESTILOS CSS3 ********************/
                /******************** GENERALES ********************/
                
                * {
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    list-style: none;
                }
                /* INSERCION DE LAS TIPOGRAFIAS */
                
                @font-face {
                    font-family: Lato-Black;
                    src: url(../fonts/Lato-Black.ttf);
                }
                
                @font-face {
                    font-family: Lato-BlackItalic;
                    src: url(../fonts/Lato-BlackItalic.ttf);
                }
                
                @font-face {
                    font-family: Lato-Bold;
                    src: url(../fonts/Lato-Bold.ttf);
                }
                
                @font-face {
                    font-family: Lato-BoldItalic;
                    src: url(../fonts/Lato-BoldItalic.ttf);
                }
                
                @font-face {
                    font-family: Lato-Italic;
                    src: url(../fonts/Lato-Italic.ttf);
                }
                
                @font-face {
                    font-family: Lato-Light;
                    src: url(../fonts/Lato-Light.ttf);
                }
                
                @font-face {
                    font-family: Lato-LightItalic;
                    src: url(../fonts/Lato-LightItalic.ttf);
                }
                
                @font-face {
                    font-family: Lato-Regular;
                    src: url(../fonts/Lato-Regular.ttf);
                }
                
                @font-face {
                    font-family: Lato-Thin;
                    src: url(../fonts/Lato-Thin.ttf);
                }
                
                @font-face {
                    font-family: Lato-ThinItalic;
                    src: url(../fonts/Lato-ThinItalic.ttf);
                }
                
                html {
                    font-family: Lato-Regular;
                }
                
                h3,
                h4,
                h5,
                h6,
                p {
                    font-family: Lato-LightItalic;
                }
                
                h5 {
                    font-size: 1.2rem;
                }
                
                .titulosections {
                    background-color: #0095d5;
                    color: #FFF;
                    font-family: Lato-BoldItalic;
                    padding: 5px;
                    text-align: center;
                    line-height: 1.2em;
                    text-shadow: 2px 2px 3px #1d4965ab;
                }
                
                .container {
                    max-width: 992px;
                    background-color: #FFF;
                }
                /****************** FONDO ANIMADO *******************/
                
                @keyframes fondoAnimado {
                    0% {
                        opacity: 1;
                    }
                    20% {
                        opacity: 1;
                    }
                    30% {
                        opacity: 0;
                    }
                    90% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                @-webkit-keyframes fondoAnimado {
                    0% {
                        opacity: 1;
                    }
                    20% {
                        opacity: 1;
                    }
                    30% {
                        opacity: 0;
                    }
                    90% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                #fondo1 {
                    position: fixed;
                    width: 100%;
                    height: 100Vh;
                    background-image: url(../img/background1.jpg);
                    background-size: cover;
                    background-position: center;
                    animation: fondoAnimado 24s linear 18s infinite;
                    -webkit-animation: fondoAnimado 24s linear 18s infinite;
                    z-index: -1;
                }
                
                #fondo2 {
                    position: fixed;
                    width: 100%;
                    height: 100Vh;
                    background-image: url(../img/background2.jpg);
                    background-size: cover;
                    background-position: center;
                    animation: fondoAnimado 24s linear 12s infinite;
                    -webkit-animation: fondoAnimado 24s linear 12s infinite;
                    z-index: -1;
                }
                
                #fondo3 {
                    position: fixed;
                    width: 100%;
                    height: 100Vh;
                    background-image: url(../img/background3.jpg);
                    background-size: cover;
                    background-position: center;
                    animation: fondoAnimado 24s linear 6s infinite;
                    -webkit-animation: fondoAnimado 24s linear 6s infinite;
                    z-index: -1;
                }
                
                #fondo4 {
                    position: fixed;
                    width: 100%;
                    height: 100Vh;
                    background-image: url(../img/background4.jpg);
                    background-size: cover;
                    background-position: center;
                    animation: fondoAnimado 24s linear 0s infinite;
                    -webkit-animation: fondoAnimado 24s linear 0s infinite;
                    z-index: -1;
                }
                /******************** ENCABEZADO ********************/
                
                header {
                    width: 100%;
                    height: 50px;
                    background-color: rgba(0, 0, 0, 0.3);
                    padding: 0;
                    margin: 0;
                    position: fixed;
                    z-index: 99999;
                }
                
                .encabezado {
                    position: fixed;
                    width: 100%;
                    height: 50px;
                    background-color: #1d4965;
                    transition: all 0.5s ease-in;
                }
                
                .areamenu {
                    max-width: 100%;
                    margin: 0 auto;
                }
                
                #boton-menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    background-color: #0095d5;
                    text-align: center;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    z-index: 1;
                }
                
                #boton-cerrar-menu {
                    display: none;
                }
                
                #boton-menu p {
                    font-family: Lato-Black;
                    font-size: .7em;
                    text-transform: uppercase;
                    color: #FFF;
                    line-height: .5em;
                    margin-top: 20px;
                    cursor: pointer;
                }
                
                #boton-menu p span {
                    font-size: 4em;
                }
                
                .encabezado h1 {
                    text-align: center;
                    color: #0095d5;
                    font-size: 1.7em;
                    line-height: 50px;
                    position: relative;
                    left: 3%;
                }
                
                .menu .logo {
                    max-width: 220px;
                    margin: 40px auto;
                }
                
                .menu a {
                    color: #FFF;
                    text-decoration: none;
                    font-size: 1.5em;
                    line-height: 1.5em;
                }
                
                .mostrar-menu {
                    cursor: pointer;
                }
                
                .esconder-menu {
                    position: absolute;
                    top: -3px;
                    right: 5px;
                    font-size: 2.2em;
                    cursor: pointer;
                }
                /******************** SECCION PRINCIPAL ********************/
                
                section#principal {
                    position: relative;
                    padding-top: 50px;
                    margin-bottom: 25px;
                }
                
                #carouselPrincipal {
                    width: 100%;
                }
                /****************** SECCION QUIENES SOMOS *******************/
                
                section#quienessomos {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    z-index: 1;
                }
                
                section#quienessomos p {
                    text-align: justify;
                    margin-top: 20px;
                    font-size: 1.2em;
                }
                /******************** SECCION SERVICIOS ********************/
                
                section#servicios {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                
                section#servicios .contenido-servicios .imagenes-servicios-seccion {
                    padding: 0;
                }
                
                section#servicios .contenido-servicios .imagenes-servicios-seccion .container img {
                    border-radius: 50% !important;
                    border: 3px solid #0095d5;
                    overflow: hidden;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                section#servicios .titulos-servicios {
                    position: absolute;
                    background-color: #0095d5bd;
                    width: 83%;
                    top: 42%;
                    left: 25px;
                    text-align: center;
                    height: 50px;
                }
                
                section#servicios .titulos-servicios:hover {
                    background-color: #0095d5;
                }
                
                section#servicios .titulos-servicios a {
                    text-decoration: none;
                }
                
                section#servicios .titulos-servicios h3 {
                    color: #FFF;
                    font-size: 2em;
                    text-shadow: 1px 1px 4px #1d4965;
                    line-height: 50px;
                }
                /******************** MODALES ********************/
                
                .modal-title {
                    font-weight: 700;
                    color: #0095d5;
                    font-size: 1.6em;
                }
                /******************** SECCION INFOPROMOCIONES ********************/
                
                section#infopromociones {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                
                .infopromociones-slider {
                    width: 80%;
                    height: auto;
                    margin: 20px auto;
                }
                
                .slick-dots li.slick-active button::before {
                    color: #0095d5 !important;
                    opacity: 1;
                    text-shadow: 1px 1px 1px #0095d5bd;
                }
                /******************** SECCION CONTACTO ********************/
                
                section#contacto {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                
                form>div>h4 {
                    margin-top: 15px;
                }
                
                .form-control {
                    border-radius: 0px;
                    border-color: #0095d5;
                }
                
                .cajaformulario .btn {
                    border-radius: 0px;
                    width: 100%;
                }
                
                #correcto {
                    background-color: rgba(0, 128, 0, 0.473);
                    padding: 4px;
                    text-align: center;
                    font-size: 1.2em;
                    border: 2px solid green;
                    width: 100%;
                    display: none;
                }
                
                .has-error .help-block {
                    background-color: red;
                    color: #FFF;
                    padding: 5px;
                }
                
                .caja-mapas {
                    margin-bottom: 15px;
                }
                
                .mapainteractivo {
                    overflow: hidden;
                }
                
                .mapainteractivo h5 {
                    color: #0095d5;
                    font-family: Lato-BlackItalic;
                }
                
                .mapainteractivo iframe {
                    border: 2px solid #0095d5;
                    width: 315.75px;
                    height: 315.75px;
                }
                /******************** FOOTER ********************/
                
                footer {
                    color: #FFF;
                }
                
                footer article {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                
                footer h4 {
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                footer a {
                    color: #FFF;
                }
                
                footer a:hover {
                    color: #FFF;
                    text-decoration: none;
                }
                /* Footer 1 */
                
                footer .container {
                    background: transparent;
                }
                
                #footer1 {
                    background-color: #0095d5;
                }
                /* Footer 2 */
                
                #footer2 {
                    background-color: #177aae;
                    padding: 10px;
                }
                
                .redessociales {
                    display: flex;
                    justify-content: space-around;
                }
                
                .redessociales li {
                    font-size: 3em;
                    opacity: 0.7;
                }
                
                .redessociales li:hover {
                    opacity: 1;
                }
                
                .llamar li,
                .whatsapp li {
                    line-height: .3em;
                }
                
                .llamar li a,
                .whatsapp li a {
                    display: block;
                    font-size: 2em;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                
                .llamar span,
                .whatsapp span {
                    font-size: 0.5em;
                    margin-top: 0;
                }
                /* Footer 3 */
                
                #footer3 {
                    background-color: #1d4965;
                    padding: 15px;
                }
                
                #footer3 p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                /* Footer 4 */
                
                #footer4 {
                    background-color: #7fb7e3;
                    padding: 20px;
                }
                
                #footer4 p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
                /* Footer 5 */
                
                #footer5 {
                    background-color: #121c24;
                    padding: 10px;
                }
                
                #footer5 p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
                /********** GENERALES PAGINAS INTERNAS **********/
                
                .principal-paginasinternas {
                    height: 40Vh;
                    overflow: hidden;
                    z-index: 1;
                }
                
                .principal-quienessomos,
                .principal-servicios,
                .principal-catalogo,
                .principal-blog {
                    width: 100%;
                    padding: 0;
                }
                
                .titulo-paginasinternas {
                    margin: auto;
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    width: 70%;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                
                .titulo-paginasinternas h2 {
                    font-family: Lato-BoldItalic;
                    line-height: 1.5em;
                    color: #121c24;
                }
                
                .imagen-quienessomos {
                    padding: 1em;
                }
                
                .tituloprincipal-quienessomos {
                    color: #0095d5;
                    text-shadow: 1px 1px 1px #121c2485;
                }
                
                .titulos-quienessomos {
                    width: 100%;
                    background-color: #0095d5;
                }
                
                .titulos-quienessomos h4 {
                    color: #FFF;
                    line-height: 2em;
                }
                
                #contenido-quienessomos p {
                    font-size: 1em;
                    padding: 0.2em;
                }
                
                #botonMision,
                #botonVision,
                #botonValores {
                    transition: all 2s ease-in-out;
                }
                
                .contenidosMisionVisionValores {
                    transition: all 2s ease-in-out;
                }
                
                .contenidoMision,
                .contenidoVision,
                .contenidoValores {
                    display: none;
                    transition: all 0.5s ease-in-out;
                }
                
                #contenido-servicios .container,
                #contenido-catalogo .container {
                    background: transparent;
                }
                
                #contenido-catalogo>.container>.container,
                #contenido-servicios>.container>.container {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    background-color: #FFF;
                    padding: 0;
                }
                
                #contenido-catalogo>.container>.container>article,
                #contenido-servicios>.container>.container>article {
                    padding: 0;
                }
                
                .imagenes-pagina-servicios {
                    padding-bottom: 20px;
                }
                
                .contenido-catalogo-imagenes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                /******************** RESPONSIVE ********************/
                /**** ENCABEZADO ****/
                
                @media (max-width: 767px) {
                    .ocultomobile {
                        display: none;
                    }
                    .menu {
                        position: fixed;
                        left: 0;
                        top: 0;
                        width: 280px;
                        height: 100vh;
                        background-color: #0095d5;
                        color: #FFF;
                        text-align: center;
                        transition: 0.8s;
                        z-index: 99999;
                    }
                    .menu-oculto {
                        left: -100%;
                    }
                    section h2 {
                        font-size: 1.4em;
                    }
                    .infopromociones-slider {
                        width: 100%;
                    }
                    .botones-slider-infopromociones::before {
                        display: none;
                    }
                    .slick-dots li {
                        margin: 0;
                    }
                    .infopromociones-slider {
                        width: 100%;
                    }
                    .caja-mapas img {
                        margin-bottom: 10px;
                    }
                    .modal {
                        margin-top: 35px;
                    }
                    .animated {
                        /*CSS transitions*/
                        -o-transition-property: none !important;
                        -moz-transition-property: none !important;
                        -ms-transition-property: none !important;
                        -webkit-transition-property: none !important;
                        transition-property: none !important;
                        /*CSS transforms*/
                        -o-transform: none !important;
                        -moz-transform: none !important;
                        -ms-transform: none !important;
                        -webkit-transform: none !important;
                        transform: none !important;
                        /*CSS animations*/
                        -webkit-animation: none !important;
                        -moz-animation: none !important;
                        -o-animation: none !important;
                        -ms-animation: none !important;
                        animation: none !important;
                    }
                }
                
                @media (min-width: 768px) {
                    .titulosections {
                        min-height: 400px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    header {
                        height: 100px;
                        transition: all 0.5s ease-in;
                    }
                    .areamenu {
                        width: 100%;
                        min-width: 768px;
                        max-width: 992px;
                        height: 100px;
                        border: 0;
                    }
                    #boton-menu {
                        position: relative;
                        float: right;
                        top: 0;
                        right: 0;
                        width: 100px;
                        height: 100px;
                        opacity: 1;
                        transition: all 0.5s ease-in;
                    }
                    #boton-menu p {
                        font-size: 1em;
                        transition: all 0.5s ease-in;
                    }
                    #boton-menu p span {
                        font-size: 6em;
                    }
                    .ocultar-menu {
                        display: block !important;
                        position: relative !important;
                        float: right;
                        top: 0;
                        right: 0;
                        width: 99px;
                        height: 99px;
                        border: 1px solid #000;
                        border-bottom: 1px solid #000;
                        background-color: #FFF;
                        text-align: center;
                        cursor: pointer;
                        transition: all 0.5s ease-in;
                        opacity: 1;
                        z-index: 10;
                    }
                    .ocultar-menu p {
                        line-height: 94px;
                        color: #0095d5;
                        background: #FFF;
                        font-family: Lato-Bold;
                        font-size: 2.5em;
                        font-weight: 500;
                        border: 0;
                        transition: all 0.5s ease-in;
                    }
                    .ocultar-boton-menu {
                        display: none !important;
                    }
                    header div h1 {
                        display: none;
                    }
                    .menu .logo {
                        display: none;
                    }
                    .menu {
                        position: relative;
                        float: right;
                        right: 0;
                        top: 50px;
                        width: 600px;
                        height: 0px;
                        overflow: hidden;
                        color: #FFF;
                        text-align: center;
                        margin-left: auto;
                        margin: 0 !important;
                        transition: 0.8s;
                        display: flex;
                        transition: all 0.5s ease-in;
                        opacity: 0;
                        z-index: 99999;
                        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.7);
                    }
                    .menu-desktop {
                        height: 120px !important;
                        opacity: 1 !important;
                    }
                    .menu .enlaces-menu {
                        width: 120px;
                        height: 0;
                        text-align: center;
                        transition: all 0.5s ease-in;
                        opacity: 0;
                        overflow: hidden;
                        display: none;
                    }
                    .menu .enlaces-menu-desktop {
                        height: 120px !important;
                        opacity: 1 !important;
                        display: block;
                    }
                    .menu .enlaces-menu:hover {
                        transform: scale(1.04);
                    }
                    .menu .enlaces-menu a {
                        font-size: 1.2em;
                        line-height: 120px;
                    }
                    #enlace1 a,
                    #enlace2 a,
                    #enlace3 a {
                        color: #1d4965;
                    }
                    #enlace4 a,
                    #enlace5 a {
                        color: #c2daf1;
                    }
                    #enlace1 {
                        background-color: #c2daf1;
                    }
                    #enlace2 {
                        background-color: #7fb7e3;
                    }
                    #enlace3 {
                        background-color: #0095d5;
                    }
                    #enlace4 {
                        background-color: #177aae;
                    }
                    #enlace5 {
                        background-color: #1d4965;
                    }
                    .esconder-menu {
                        display: none;
                    }
                    /**** EFECTOS MENU ****/
                    .efectoHeader {
                        height: 50px;
                    }
                    .efectoEncabezado {
                        background-color: #1d496583 !important;
                    }
                    .efectoBotonMenu {
                        width: 50px !important;
                        height: 50px !important;
                    }
                    .efectoBotonMenu p {
                        transform: scale(0.5);
                        line-height: 50px;
                    }
                    /* CARRUSEL */
                    #carouselPrincipal {
                        min-width: 768px;
                        max-width: 992px;
                        margin: 0 auto;
                    }
                    /* SECCION QUIENES SOMOS */
                    section#quienessomos p {
                        text-align: justify;
                        font-size: 1.4em;
                        margin: 65px;
                        line-height: 1.6em;
                    }
                    /* SECCION SERVICIOS */
                    section#servicios .titulos-servicios {
                        width: 78%;
                        top: 42%;
                        left: 22px;
                        height: 35px;
                    }
                    section#servicios .titulos-servicios h3 {
                        font-size: 1.4em;
                        line-height: 35px;
                    }
                    /* MODALES */
                    .modal {
                        margin-top: 70px;
                    }
                    .modal-body p {
                        font-size: 1.2em;
                    }
                    /* SECCION INFOPROMOCIONES */
                    .infopromociones-slider div {
                        margin-left: 3px;
                    }
                    .botones-slider-infopromociones::before {
                        color: #0095d5;
                        cursor: pointer;
                        font-size: 30px;
                    }
                    /* FOOTER */
                    #footer1 {
                        padding-bottom: 70px;
                    }
                    .llamar,
                    .whatsapp {
                        display: none;
                    }
                    /***** PAGINAS INTERNAS *****/
                    #contenido-quienessomos p {
                        font-size: 1.3em;
                    }
                    .contenidosMisionVisionValores {
                        min-height: 425px;
                    }
                    .titulos-pagina-servicios {
                        min-height: 250px;
                    }
                    .imagenes-pagina-servicios {
                        margin-top: 15px;
                    }
                    .contenidos-paginas-servicios {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .contenidos-paginas-servicios p {
                        font-size: 1.3em;
                    }
                }
                
                @media (min-width: 992px) {
                    /* SECCION SERVICIOS */
                    section#servicios .titulos-servicios {
                        width: 82%;
                        top: 42%;
                        left: 22px;
                        height: 40px;
                    }
                    section#servicios .titulos-servicios h3 {
                        font-size: 1.7em;
                        line-height: 40px;
                    }
                }